body {
    font-family: Arial, sans-serif;
    background-image: url('afc.png'); /* Replace with your AFC logo image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    color:black;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 10px 0;
    background-color: #ffb302;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #cc5200;
}